{% extends "base.html" %}

{% load static %}

{% block splash %}
<section class="splash">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8">
            <h1 class="splash-head">{{ course }}</h1>
            <h2 class="splash-subhead">
                {{ course.description }}
            </h2>
            <p>
                <a href="#" class="pure-button primary-button">Inscreva-se</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<article class="blog-post">
    <h2 class="blog-post-title mb-1">Sobre o Curso</h2>
    <hr/>
    <p>{{ course.about|linebreaks }}</p>
    <div>
        {% if course.image %}
        <img src="{{ course.image.url }}" alt=""/>
        {% else %}
        <img src="{% static 'img/course-image.png' %}" alt=""/>
        {% endif %}
        <h4>Dúvidas?</h4>
        <p>
            <a href="#contato" title="" class="pure-button">Fale Conosco</a>
        </p>
    </div>
</article>

<div class="pure-g-r content-ribbon" id="contato">
    <div class="pure-u-1">
        <h3>Tire sua dúvida sobre o Curso</h3>
        {% if is_valid %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Você enviou o formulário com sucesso
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <form action="#contato" method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}