{% extends "base.html" %}

{% load static %}

{% block content %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">Listagem de Cursos do SimpleMOOC</h3>
<p>Abaixo a lista de cursos disponíveis na plataforma</p>

<div class="col">
    {% for course in courses %}
    <div class="row content-ribbon">
        <div class="col-auto d-none d-lg-block">
            <a href="{{ course.get_absolute_url }}">
                {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.name }}"/>
                {% else %}
                <img src="{% static 'img/course-image.png' %}" alt="{{ course.name }}"/>
                {% endif %}
            </a>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <h4 class="content-subhead"><a href="{{ course.get_absolute_url }}" title="">{{ course.name }}</a></h4>
            {{ course.description|linebreaks }}
        </div>
    </div>
    {% empty %} <!-- Executa apenas quando a lista estiver vazia -->
    <div class="row content-ribbon">
        <div class="col-auto d-none d-lg-block">
            <p>Nenhum curso está disponível na plataforma</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}