.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content-ribbon {
    margin-top: 3em;
    border-bottom: 1px solid #eee;
}

.content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.splash {
    margin: 0em auto 0;
    padding: 0 1em;
}

.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}

.footer {
    background: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}